:root {
  --dark-grey: #8c8c8c;
  --light-grey: #aeadad;
  --check-green: #00ff4c;
}

.gallery {
  padding: 12px 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-paint {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-paint:hover {
  background-color: var(--light-grey);
}

.cross {
  position: relative;
  width: 120px;
  height: 120px;
}

.add-a {
  top: 55px;
  width: 120px;
  height: 10px;
  position: absolute;
  background-color: white;
}

.add-b {
  left: 55px;
  width: 10px;
  height: 120px;
  position: absolute;
  background-color: white;
}

.add-paint, .painting {
  width: 48%;
  height: 500px;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  background-color: var(--dark-grey);
  overflow: auto;
}

.painting p {
  text-align: center;
}

.painting p, .paint {
  margin-bottom: 12px;
}

.paint {
  resize: none;
  color: black;
  height: 100px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.copy-row {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.copy-row p {
  margin: auto 24px;
}

.copy-button {
  padding: 8px;
  color: black;
  cursor: pointer;
}

.check-off {
  color: var(--dark-grey);
}

.check-on {
  font-weight: bold;
  color: var(--check-green);
}

@media screen and (max-width: 1000px) {
  .add-paint, .painting {
    width: 100%;
    margin-bottom: 48px;
  }
}